# DataScience Tools and Ecosystem #

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Languages of DataScience
* Libraries
* Tools used in DataScience
* Formatting
* Arithmetic expressions
* Evaluating Arithmetic expressions

Some of the popular languages that Data Scientists use are:
 1. Python
 2. R
 3. SQL
 4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. Scikit-learn

|DataScience Tools|
|-----------------|
|Jupyter Notebooks|
|Rstudio          |
|Python           |
|GitHub           |

### Below are a few examples of evaluating arithmetic expressions in Python ###

In [1]:
#  This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [11]:
#This will convert 200 minutes to hours by diving by 60 
minutes= 200
hours=minutes/60
print("NO of hours in 200 minutes is"+str(hours))

NO of hours in 200 minutes is3.3333333333333335

## Author
Sruthi Surendran